/* https://colorhunt.co/palette/3b1e549b7ebdd4bee4eeeeee */

.playbutton {
    background-color: #9B7EBD;
    border-radius: .5in;
    margin-top: 1.5in;
    padding: .5in;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.stopwatch {
    color: #EEE;
    font-size: .75in;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #D4BEE4;
    border-radius: .3in;
    margin-top: 0.3in;
    padding: .1in;
    padding-left: .5in;
    padding-right: .5in;

    cursor: default;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.search {
    background-color: #9B7EBD;
    border-radius: .5in;
    padding: .5in;
    border: none;
    transition-duration: 0.4s;

    height: .5in;
    font-size: .5in;
    color: #EEE;

    cursor: text;
}

.search:hover {
    background-color: #B49ED4;
}

::placeholder {
    color: #EEE;
}

.search-result {
    background-color: #D4BEE4;
    border-radius: .5in;
    padding: .5in;
    border: none;
    transition-duration: 0.4s;

    font-size: .5in;
    text-align: left;
    color: #111;

    cursor: pointer;
    display: flex;
}

.search-result:hover {
    background-color: #EEE;
}

.search-result:focus {
    background-color: #EEE;
    border: none;
}

.album-cover {
    width: .6in;
    height: .6in;
    border-radius: .125in;
    margin-right: .3in;
}

.search-container {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    flex-direction: column;

    margin-top: .8in;
}

.search-background {
    background-color: #D4BEE4;
    border-radius: .5in;

    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    flex-direction: column;
}

p {
    margin: 1in;
    margin-top: 0in;
    margin-bottom: 0in;
    padding: .5in;

    color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

h1 {
    margin: 1in;
    margin-bottom: 0in;
    padding: .3in;

    color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    margin-top: 0in;
    padding: .5in;

    color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h3 {
    margin-top: 0in;

    color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.text-box {
    background-color: #9B7EBD;
    border-radius: 1in;

    margin: auto;
    margin-top: 1in;
}

body {
    background-color: #3B1E54;
}