/* https://colorhunt.co/palette/3b1e549b7ebdd4bee4eeeeee */

.playbutton {
    background-color: #9B7EBD;
    border-radius: .5in;
    margin-top: 1.5in;
    padding: .5in;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.playbuttonbig {
    margin-top: .5in;
    padding: 0;
}

.stopwatch {
    color: #EEE;
    font-size: .75in;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #D4BEE4;
    border-radius: .3in;
    margin-top: 0.3in;
    padding: .1in;
    padding-left: .5in;
    padding-right: .5in;

    cursor: default;
}

#points {
    padding: 0;
    margin-top: .3in;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.flex-col {
    flex-direction: column;
}

.leaderboard {
    background: none;
    color: #111;
    margin: auto;
}

.lb-wrap {
    align-self: flex-start;
}

.leaderboard-background {
    background-color: #9B7EBD;
    border-radius: .5in;
    padding-top: .5in;
    padding-bottom: .5in;
    width: 100%;
    height: 100%;
}

.leaderboard .rank {
    color: #111;
    margin: auto;
    width: 100%;
}

.leaderboard p {
    color: #EEE;
    line-height: 2em;
    font-size: 1.5em;
    padding: 0;
    margin: 8%;
}

.lb-config {
    max-width: 324px;
    width: 100%;
    background-color: #D4BEE4;
    margin-right: .25in;
    border-radius: .5in;
    text-align: left;
}

#lb-config {
    margin: 30px;
}

.lb-config label {
    color: #111;
    text-align: left;
}

.lb-config ul li::marker {
    color: #111;
} 

#leaderboard-container {
    width: 100%;
    height: 100%;
}

#select-bar {
    background-color: #D4BEE4;
    height: 1in;
    margin: auto;
    border-radius: .5in;
    margin-bottom: .25in;
    align-items: center;
    width: 100%;
}

#select-bar select {
    background-color: #9B7EBD;
    height: .5in;
    outline: none;
    border: none;
    border-radius: .1in;
    margin: .05in;
    padding: .1in;
    overflow-y: auto;
}

.search {
    background-color: #9B7EBD;
    border-radius: .5in;
    padding: .5in;
    border: none;
    transition-duration: 0.4s;

    height: .5in;
    font-size: .5in;
    color: #EEE;

    cursor: text;
}

.search:hover {
    background-color: #B49ED4;
}

::placeholder {
    color: #EEE;
}

.search-result {
    background-color: #D4BEE4;
    border-radius: .5in;
    padding: .5in;
    border: none;
    transition-duration: 0.4s;

    font-size: .5in;
    text-align: left;
    color: #111;

    cursor: pointer;
    display: flex;
}

.search-result:hover {
    background-color: #EEE;
}

.search-result:focus {
    background-color: #EEE;
    border: none;
}

.album-cover {
    width: .6in;
    height: .6in;
    border-radius: .125in;
    margin-right: .3in;
}

.search-container {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    flex-direction: column;

    margin-top: .8in;
}

.search-background {
    background-color: #D4BEE4;
    border-radius: .5in;

    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    flex-direction: column;
}

p {
    margin: 1in;
    margin-top: 0in;
    margin-bottom: 0in;
    padding: .5in;

    color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

ul {
    margin-top: .1in;

    color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

li {
    margin-top: .1in;
}

h1 {
    margin: 1in;
    margin-bottom: 0in;
    padding: .3in;

    color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    margin-top: 0in;
    padding: .5in;
    padding-bottom: 0;
    font-size: 300%;

    color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h3 {
    margin-top: 0in;

    color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    border: 3px solid #D4BEE4;
    border-radius: 3px;
    width: 90%;
}

.text-box {
    background-color: #9B7EBD;
    border-radius: 1in;
    max-width: 10in;

    margin: auto;
    margin-top: 1in;
}

label {
    color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
}

.config-box {
    margin-left: 1in;
    margin-right: 1in;
    margin-top: 0;
    font-size: 120%;
    padding-bottom: 1in;
    background:none;
}

.artist-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.headerlabel {
    text-align: left;
}

.config-cover {
    border-radius: 21px;
    height: 120px;
    flex-grow: 0;
    flex-shrink: 0;
}

.config-cover-on {
    filter: none;
    margin: 6px;
}

.config-cover-off {
    filter: grayscale(100%) opacity(50%);
    height: 90px;
    margin: 21px;
}

.config-cover-name {
    background: none;
    text-align: center;
    color: #000;
    height: 20px;
    width: 132px;
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 20px;
    overflow-x: hidden;
    text-wrap: nowrap;
}

.checkwrap {
    height: 132px;
    display: flex;
    flex-direction: column;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.config-cover-label {
    font-size: 30px;
    bottom: 45px;
    position: relative;
    margin-left: 20px;
}

li::marker {
    color: #EEE;
}

.navbar {
    background-color: #3B1E54;
    border-bottom: 3px solid #D4BEE4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    opacity: .95;
    display: flex;
    align-items: center;
    padding: 5px;
}

.navbar .logo {
    height: 30px;
    margin: 4px;
    opacity: 1;
    display: inline;
}

.navbar-link {
    display: flex;
    height: 50px;
    align-items: center;
    margin: 0 13px;
    text-decoration-line: none;
}

.navbar-link p {
    font-size: 20px;
    color: #EEE;
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-link p:hover {
    text-decoration-line: underline;
}

.navbar-link .square {
    height: 40px;
    margin-right: 5px;
}

#namedisplay {
    background: none;
    outline: none;
    border: none;
    height: 100%;
    width: 1.4in;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    align-content: center;
}

#nametext {
    height: 40px;
    width: 90px;
    font-size: 25px;
    margin: auto;
    padding: 0;
    cursor:pointer;
    border: 0;
    background-color: #EEE;
}

#namechange {
    height: 40px;
    width: 90px;
    font-size: 25px;
    margin: auto;
    visibility: hidden;
    border: 0;
    text-align: center;
}

#namechange::placeholder {
    color: #555;
}

#nametext:hover {
    text-decoration-line: underline;
}



body {
    background-color: #3B1E54;
}
